<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623752558613-vigank4jsvtr58ncfgl47906mitl81ck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623752558613-vigank4jsvtr58ncfgl47906mitl81ck</string>
	<key>API_KEY</key>
	<string>AIzaSyCSp-WIABYrlqBtwS4DLjvOPj4e5uL1f1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>623752558613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cs.virginia.edu.yourTrip</string>
	<key>PROJECT_ID</key>
	<string>your-trip-1ebea</string>
	<key>STORAGE_BUCKET</key>
	<string>your-trip-1ebea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623752558613:ios:ac835d1ed5e1000c9c761c</string>
</dict>
</plist>